.section-about-reviews {
  max-width: 1035px;
  &-name {
    color: #81888F;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 30px;
    text-transform: uppercase;
  }
  &-item {
    padding: 17px 20px;
    border: 1px solid #ececec;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .05);
    margin: 10px 0 20px;
    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 16px;
      &-info {
        display: flex;
        align-items: center;
        & > div {
          &:not(:first-child) {
            margin-left: 16px;
          }
        }
        .information-trash {
          margin-left: 0;
        }
        &-date {
          color: #505C6A;
          font-size: 13px;
          line-height: 19px;
        }
        &-text {
          color: #505C6A;
          font-size: 13px;
          line-height: 19px;
        }
        &-user {
          display: flex;
          align-items: center;
          &-logo {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
          }
          &-name {
            color: #505C6A;
            font-size: 13px;
            font-weight: 500;
            line-height: 15px;
            padding-left: 10px;
          }
        }
      }
      &-deleted {

      }
    }
    &-body {
      &-text {
        color: #505C6A;
        font-size: 13px;
        line-height: 19px;
      }
    }
  }
}