<div class="section-about-search-user">
    <div class="section-about-search-user-header">
        <div class="section-about-search-user-header-toggle">
            <span>show</span> users
        </div>
        <div class="section-about-search-user-header-all">
            All
            <i class="icon icon-arrow"></i>
        </div>
    </div>
    <div class="section-about-search-user-body">
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info-active.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
        {% include "blocks/block/_section-about-user-info.html" %}
    </div>
</div>
