<div class="section-about-search">
    <form class="form">
        <div class="box-control">
            <input type="text" class="form-control" placeholder="Search user">
            <i class="icon icon-search"></i>
        </div>
    </form>
</div>
