.section-about-search-user {
  overflow-y: scroll;
  height: 100%;
  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13px 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    &-toggle {
      color: #505C6A;
      font-size: 14px;
      text-transform: uppercase;
    }
    &-all {
      padding: 7px 24px 7px 12px;
      border-radius: 100px;
      background-color: #FFFFFF;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      position: relative;
     .icon-arrow{
       position: absolute;
       right: 0;
       top: 4px;
     }
    }
  }
  &-body {
    padding-top: 4px;
  }
}