.section-about-search {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  .box-control{
    position: relative;
  }
  .icon-search{
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -12px;
  }
}