.section-about-profile {
  max-width: 650px;
  &-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    &-info {
      padding: 14px 0;
      display: flex;
      align-items: center;
      &-logo {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
      }
      &-title {
        padding-left: 20px;
        &-name {
          color: #505C6A;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          padding-bottom: 6px;
          .info-trash {
            color: #FFFFFF;
            font-size: 11px;
            line-height: 19px;
            padding: 4px 5px;
            font-weight: normal;
            border-radius: 3px 6px 3px 6px;
            background-color: #67C688;
            margin-left: 12px;
          }

        }
        &-text {
          color: #505C6A;
          font-size: 13px;
          line-height: 19px;
          .icon-geo {
            margin-right: 4px;
          }
        }
      }
    }
  }
  &-contact {
    border: 1px solid #ECECEC;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.05);
    margin: 10px 0 20px;
    &-header {
      padding: 17px 20px;
      color: #81888F;
      font-size: 12px;
      font-weight: bold;
      line-height: 12px;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
    &-body {
      padding: 17px 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &-item {
        width: 49%;
        text-align: left;
        span {
          color: #505C6A;
          font-size: 13px;
          padding-left: 12px;
        }
      }
    }
  }
  &-pets {
    border: 1px solid #ECECEC;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.05);
    margin: 10px 0 20px;
    &-header {
      padding: 17px 20px;
      color: #81888F;
      font-size: 12px;
      font-weight: bold;
      line-height: 12px;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
    &-body {
      padding: 17px 20px;
      &-item {
        display: flex;
        flex-direction: row;
        align-items: self-start;
        padding-bottom: 16px;
        &-logo {
          width: 36px;
          height: 36px;
          border-radius: 11px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          overflow: hidden;
          box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.23);
        }
        &-title {
          width: calc(100% - 36px);
          padding-left: 20px;
          &-name {
            color: #505C6A;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
          }
          &-text {
            color: #505C6A;
            font-size: 13px;
            line-height: 19px;
          }
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
  &-skills {
    border: 1px solid #ECECEC;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.05);
    margin: 10px 0;
    &-header {
      padding: 17px 20px;
      color: #81888F;
      font-size: 12px;
      font-weight: bold;
      line-height: 12px;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
    &-body {
      padding: 17px 20px;
      &-text {
        color: #505C6A;
        font-size: 13px;
        line-height: 19px;
      }
    }
  }
  &-reviews {
    border: 1px solid #ECECEC;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.05);
    margin: 10px 0;
    &-header {
      padding: 17px 20px;
      color: #81888F;
      font-size: 12px;
      font-weight: bold;
      line-height: 12px;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
    &-body {
      &-item {
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        padding: 16px 20px;
        &:last-child {
          border-bottom: 0;
        }
        &-top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          &-deleted {
            a {
              margin-left: 20px;
            }
          }
        }
        &-text {
          color: #505C6A;
          font-size: 13px;
          line-height: 19px;
        }
      }

    }
  }
  &-disabled {
    &.disabled {
      opacity: 0.5;
      cursor: default;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      user-select: none;
      pointer-events: none;
    }
  }
}