<div class="section-about-paws">
    {% include "blocks/profile/_profile-user.html" %}
    <div class="section-about-profile-disabled">
        {% include "blocks/profile/_profile-contact.html" %}
        {% include "blocks/profile/_profile-reviews.html" %}
    </div>
</div>