.section-about{
  padding: 38px 35px 38px 0;
  .tab-pane{
    padding-left: 745px;
    display: none;
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    &.active{
      display: flex;
    }
    &-reviews{
      padding-left: 360px;
    }
  }
}
