<section class="section-about" >
    <div role="tabpanel" class="tab-pane fade  in active" id="users">
        {% include "blocks/about/_section-about-users.html" %}
        {% include "blocks/about/_section-about-profile.html" %}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="paws">
        {% include "blocks/about/_section-about-users.html" %}
        {% include "blocks/about/_section-about-paws.html" %}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="pals">
        {% include "blocks/about/_section-about-users.html" %}
        {% include "blocks/about/_section-about-pals.html" %}
    </div>
    <div role="tabpanel" class="tab-pane-reviews tab-pane fade" id="reviews">
        {% include "blocks/about/_section-about-reviews.html" %}
    </div>
    <div id="logout"></div>
</section>
