<div class="section-about-pals">
    {% include "blocks/profile/_profile-user.html" %}
    <div class="section-about-profile-disabled">

        {% include "blocks/profile/_profile-reviews.html" %}
    </div>
</div>