.section-about-users {
  width: 350px;
  padding-top: 54px;
  //position: relative;
  max-height: calc(100% - 76px);
  height: 100%;
  border: 1px solid #ECECEC;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.05);
  position: fixed;
  left: 360px;
  top: 38px;
}