<section class="section-about-profile">
    {% include "blocks/profile/_profile-user.html" %}
    <div class="section-about-profile-disabled">
        {% include "blocks/profile/_profile-contact.html" %}
        {% include "blocks/profile/_profile-pets.html" %}
        {% include "blocks/profile/_profile-skills.html" %}
        {% include "blocks/profile/_profile-reviews.html" %}
    </div>
</section>