<div class="section-about-reviews">
    <div class="section-about-reviews-name">12 reviews</div>
    {% include "blocks/block/_section-about-reviews-item.html" %}
    {% include "blocks/block/_section-about-reviews-item.html" %}
    {% include "blocks/block/_section-about-reviews-item.html" %}
    {% include "blocks/block/_section-about-reviews-item.html" %}
</div>