.btn{
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  padding:10px;
  line-height: normal;
  border-radius: 5px;
  position: relative;
  @include web_transition( all 0.3s ease-out);
  &.active{
    background-color: #29A8FA;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    color: $color_white;
    text-transform: capitalize;
    padding: 0 5px;
    min-width: 98px;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.25);
    &:hover{
      background-color: #67C688;
    }
    .activate{
      display: none;
    }
    .deactivate{
      display: block;
    }
    &.open{
      .activate{
        display: block;
      }
      .deactivate{
        display: none;
      }
    }
  }
  &-sm{
    font-size: 12px;
  }
  &-full{
    width: 100%;
  }
  &.disabled,
  &:disabled{
    background: #e0e0e5;
    color:$color_gray_1;
  }
  &-lg{
    min-width: 270px;
    text-transform: uppercase;
    padding-top: 18px;
    padding-bottom: 18px;
  }

}
.link{
  display: inline-block;
  vertical-align: top;
  &-underline{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}