.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -2px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &-user{
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/user.svg")  ;
  }
  &-paws{
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/lap.svg")  ;
  }
  &-pals{
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/bone.svg")  ;
  }
  &-reviews{
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/reviews.svg")  ;
  }
  &-logout{
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/logout.svg")  ;
  }
  &-search{
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/search.svg")  ;
  }
  &-arrow{
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/arrow.svg")  ;
  }
  &-trash{
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/bone-blue.svg")  ;
  }
  &-geo{
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/location.svg")  ;
  }
  &-email{
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/email.svg")  ;
  }
  &-tell{
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/phone.svg")  ;
  }
  &-deleted{
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/trash.svg")  ;
  }
}
.active{
  .icon {
    &-user {
      background-image: url("../images/icons/user-blue.svg");
    }
    &-paws {
      background-image: url("../images/icons/lap-blue.svg");
    }
    &-pals {
      background-image: url("../images/icons/bone-blue.svg");
    }
    &-reviews {
      background-image: url("../images/icons/reviews-blue.svg");
    }
    &-logout {
      background-image: url("../images/icons/logout-blue.svg");
    }
    
  }
}