@media(max-width: 1400px) {
  .section-intro {
    width: 300px;
  }
  .section-about-users {
    left: 325px;
    width: 330px;
  }
  .section-about .tab-pane {
    padding-left: 680px;
    &.tab-pane-reviews {
      padding-left: 325px;
    }
  }
}
@media(max-width: 767px) {
  .body-logout {
    .main {
      &:after {
        width: 320px;
        height: 320px;
        top: -160px;
        left: -160px;
        opacity: 0.1;
      }
      &:before {
        width: 360px;
        height: 360px;
        bottom: 80px;
        right: -180px;
        opacity: 0.2;
      }
    }
    .section-logout {
      margin-top: -50px;
    }
  }
}