.body-logout {
  min-width: 320px;

  .main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 0 15px;
    &:after {
      content: '';
      position: absolute;
      width: 564px;
      height: 564px;
      border-radius: 50%;
      top: -160px;
      left: -160px;
      background: #67C688;
      opacity: 0.6;
    }
    &:before {
      content: '';
      position: absolute;
      width: 564px;
      height: 564px;
      border-radius: 50%;
      bottom: -160px;
      right: -160px;
      background: #46A1DB;
      opacity: 0.6;
    }
  }
  .section-logout {
    position: relative;
    margin-top: -100px;
    max-width: 330px;
    width: 100%;
    &-logo {
      max-width: 170px;
      margin: 0 auto;
      padding-bottom: 88px;
    }
    &-form {
      border: 1px solid #ececec;
      border-radius: 8px;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .05);
      margin: 10px 0 20px;
      .box-control {
        padding: 10px 16px 5px;
        .form-label {
          color: #81888F;
          font-size: 12px;
          font-weight: bold;
          line-height: 12px;
          text-transform: uppercase;
        }
        .form-control {
          color: #505c6a;
          font-size: 14px;
          font-weight: 500;
          border: none;
          padding: 5px 0;
          height: 30px;
          &.password{
            letter-spacing: 4px;
          }
        }
        &:first-child{
          border-bottom: 1px solid rgba(0, 0, 0, .12);
        }
      }
    }
    &-login {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .forgot {
        color: #66C385;
        font-size: 14px;
        text-decoration: underline;
        &:hover {
          color: #46A1DB;
        }
      }
    }
  }
}