<div class="section-about-profile-skills">
    <div class="section-about-profile-skills-header">
        Skills and qualifica
    </div>
    <div class="section-about-profile-skills-body">
        <div class="section-about-profile-skills-body-text">
            The French Revolution constituted for the conscience of the dominant aristocratic class a fall from
            innocence, and upturning of the natural chain of events that resounded all over Europe; the old regime
            became, in their imaginary, a paradise lost. This explains why some romantic poets born in the higher
            classes were keen on seeing themselves as faded aristocrats, expelled from their comfortable milieu by a
            reverse of fortune or a design of destiny. Byron and Shelley are the prime instances of this vital pose.
            In The Giaour he writes on a vampiric character: “The common crowd but see the gloom/ Of wayward deeds
            and fitting doom;/ The close observer can espy/A noble soul, and lineage high.”
        </div>
    </div>
</div>
