<div class="section-about-profile-contact">
    <div class="section-about-profile-contact-header">Contact info</div>
    <div class="section-about-profile-contact-body">
        <div class="section-about-profile-contact-body-item">
            <i class="icon icon-email"></i>
            <span> scarter@skipstorm.org</span>
        </div>
        <div class="section-about-profile-contact-body-item">
            <i class="icon icon-tell"></i>
            <span>3-(688)039-3440</span>
        </div>
    </div>
</div>
