<div class="section-about-profile-user">
    <div class="section-about-profile-user-info">
        <div class="section-about-profile-user-info-logo"  style="background-image: url(images/icons/app-icon.png);"></div>
        <div class="section-about-profile-user-info-title">
            <div class="section-about-profile-user-info-title-name">
                Dorothy Sims
                {% include "blocks/block/_information-trash.html" %}
            </div>
            <div class="section-about-profile-user-info-title-text">
                <i class="icon icon-geo"></i>
                346 Bell Plains Suite 467
            </div>
        </div>
    </div>
    <div class="section-about-profile-user-btn">
        <a class="btn active profile-disabled">
            <span class="activate">Activate</span>
            <span class="deactivate">deactivate</span>
        </a>
    </div>
</div>
