<div class="section-about-profile-pets">
    <div class="section-about-profile-pets-header">
        pets
    </div>
    <div class="section-about-profile-pets-body">
        <div class="section-about-profile-pets-body-item">
            <div class="section-about-profile-pets-body-item-logo"  style="background-image: url(images/icons/app-icon.png);"></div>
            <div class="section-about-profile-pets-body-item-title">
                <div class="section-about-profile-pets-body-item-title-name">
                    Cooper
                </div>
                <div class="section-about-profile-pets-body-item-title-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut cumque doloribus ducimus enim,
                    id in, ipsum modi neque nisi nulla optio quasi quisquam repellat soluta sunt veniam. Provident,
                    qui!
                </div>
            </div>
        </div>
        <div class="section-about-profile-pets-body-item">
            <div class="section-about-profile-pets-body-item-logo"  style="background-image: url(images/icons/app-icon.png);"></div>
            <div class="section-about-profile-pets-body-item-title">
                <div class="section-about-profile-pets-body-item-title-name">
                    Cooper
                </div>
                <div class="section-about-profile-pets-body-item-title-text">
                    Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution
                </div>
            </div>
        </div>
    </div>
</div>
