<div class="section-about-profile-reviews">
    <div class="section-about-profile-reviews-header">
        <span>12</span> reviews
    </div>
    <div class="section-about-profile-reviews-body">
        <div class="section-about-profile-reviews-body-item">
            <div class="section-about-profile-reviews-body-item-top">
                {% include "blocks/block/_section-about-profile-reviews-info.html" %}
                <div class="section-about-profile-reviews-body-item-top-deleted">
                    {% include "blocks/block/_information-trash.html" %}
                    <a class="mail-deleted" href="/"><i class="icon icon-deleted"></i></a>
                </div>
            </div>
            <div class="section-about-profile-reviews-body-item-text">
                When you’re sick, listen to your mother: go see your doctor and find out what illness you have and
                how to get better. If you’re diagnosed with a bacterial infection, your doctor can provide a host of
                treatment options, which may include antibiotics. To treat a bacterial illness such as sinusitis or
                an ear infection, your doctor might prescribe a regimen of antibiotics to kill the bacteria and help
                you feel better faster.
            </div>
        </div>
        <div class="section-about-profile-reviews-body-item">
            <div class="section-about-profile-reviews-body-item-top">
                {% include "blocks/block/_section-about-profile-reviews-info.html" %}
                <div class="section-about-profile-reviews-body-item-top-deleted">
                    {% include "blocks/block/_information-trash.html" %}
                    <a class="mail-deleted" href="/"><i class="icon icon-deleted"></i></a>
                </div>
            </div>
            <div class="section-about-profile-reviews-body-item-text">
                When you’re sick, listen to your mother: go see your doctor and find out what illness you have and
                how to get better. If you’re diagnosed with a bacterial infection, your doctor can provide a host of
                treatment options, which may include antibiotics. To treat a bacterial illness such as sinusitis or
                an ear infection, your doctor might prescribe a regimen of antibiotics to kill the bacteria and help
                you feel better faster.
            </div>
        </div>
    </div>
</div>
