.information-trash {
  color: #FFFFFF;
  font-size: 11px;
  line-height: 19px;
  padding: 4px 5px;
  font-weight: normal;
  border-radius: 3px 6px 3px 6px;
  background-color: #67C688;
  margin-left: 12px;
	.icon-trash{
		background-image: url("../images/icons/bone-white.svg")  ;
	}
}