.section-about-profile-reviews-info {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  &-logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
  }
  &-title {
    padding-left: 18px;
    &-name {
      color: #505C6A;
      font-size: 14px;
      font-weight: bold;
      line-height: 17px;
    }
    &-date {
      color: #505C6A;
      font-size: 11px;
      line-height: 19px;
    }
  }
}

.kyc-form-upload{
	.kyc-form-upload__placeholder{
		margin-right: 20px;
	}
	.mat-raised-button{
	
	}
}