<div class="section-about-user-info">
    <div class="section-about-user-info-logo" style="background-image: url(images/icons/app-icon.png);"></div>
    <div class="section-about-user-info-title">
        <div class="section-about-user-info-title-name">Dorothy Sims</div>
        <div class="section-about-user-info-title-text">
            <span>384 Willms Terrace Suite 213</span>
            <span class="info-trash">3.3 <i class="icon icon-trash"></i></span>
        </div>
    </div>
</div>