<div class="section-about-profile-reviews-info">
    <div class="section-about-profile-reviews-info-logo" style="background-image: url(images/icons/app-icon.png);"></div>
    <div class="section-about-profile-reviews-info-title">
        <div class="section-about-profile-reviews-info-title-name">Dorothy Sims</div>
        <div class="section-about-profile-reviews-info-title-date">
            12 Mar 2018
        </div>
    </div>
</div>