<div class="section-about-reviews-item">
    <div class="section-about-reviews-item-header">
        <div class="section-about-reviews-item-header-info">
            {% include "blocks/block/_information-trash.html" %}
            <div class="section-about-reviews-item-header-info-date">12 Mar 2018</div>
            <div class="section-about-reviews-item-header-info-user">
                <div class="section-about-reviews-item-header-info-user-logo"  style="background-image: url(images/icons/app-icon.png);"></div>
                <div class="section-about-reviews-item-header-info-user-name">Andrey</div>
            </div>
            <div class="section-about-reviews-item-header-info-text">reviewed</div>
            <div class="section-about-reviews-item-header-info-user">
                <div class="section-about-reviews-item-header-info-user-logo"  style="background-image: url(images/icons/app-icon.png);"></div>
                <div class="section-about-reviews-item-header-info-user-name">Andrey</div>
            </div>
        </div>
        <div class="section-about-reviews-item-header-deleted">
            <a class="mail-deleted" href="/"><i class="icon icon-deleted"></i></a>
        </div>
    </div>
    <div class="section-about-reviews-item-body">
        <div class="section-about-reviews-item-body-text">
            Many people were hoping that if the Democrats won control of Congress they would reverse the online
            gambling ban, but experts doubt they will even try or that if they do that the will be successful. Once
            the bill was passed and signed into law by the president, it became much harder to reverse the law. The
            democrats would need to bring up the law and get it to a vote, then after the vote passed it needs to go
            to the president for his signature. The problem with this is that the current president is the one who
            signed the bill into law in the first place.
        </div>
    </div>
</div>
