.section-about-user-info {
  display: flex;
  align-items: center;
  padding: 14px;
  @include web_transition( all 0.3s ease-out);

  &-logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
  }
  &-title {
    padding-left: 18px;
    &-name {
      color: #505C6A;
      font-size: 14px;
      font-weight: bold;
      line-height: 17px;
    }
    &-text {
      color: #505C6A;
      font-size: 11px;
      line-height: 19px;
      .info-trash{
        color: #29a8fa;
        &:before{
          content: '·';
          position: relative;
          left: 0;
          top: 2px;
          padding:  0 8px;
          font-size: 18px;
          color: #505C6A;
        }
      }
    }
  }
  &.active{
    background: #67C688;
    .section-about-user-info-title {
      &-name {
        color: $color_white;
      }
      &-text {
        color: $color_white;
        .info-trash{
          color: $color_white;
          &:before{
            color: $color_white;
          }
        }
      }
    }
    &:hover{
      background: #67C688;
    }
    .icon-trash{
      background-image: url("../images/icons/bone-white.svg")  ;
    }
  }
&:hover{
   background: rgba(102, 198, 136, 0.4);
  cursor: pointer;
}
}

