.section-intro {
  box-sizing: border-box;
  height: 100%;
  width: 325px;
  border: 1px solid #ECECEC;
  background-color: #FFFFFF;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.05);
  padding: 50px 25px;
  position: fixed;
  top: 0;
  left: 0;
  &_logo {
    max-width: 150px;
    margin-bottom: 25px;
  }
  &_mail {
    color: #505C6A;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    padding-bottom: 66px;
  }
  &_tabs {
    ul {
      li {
        color: #505C6A;
        font-size: 14px;
        font-weight: 400;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        margin: 5px 0;
        a{
          color: #505C6A;
          font-size: 14px;
          font-weight: 400;
          height: 50px;
          line-height: 50px;
          cursor: pointer;
          display: block;
          @include web_transition( all 0.3s ease-out);
          &:hover{
            color: #67C688;
          }
        }
        span {
          font-weight: 500;
        }

        &.active {
          color: #29A8FA;
          a{
            color: #29A8FA;
          }
        }
        .icon{
          margin-right: 15px;
        }
      }
    }
  }
}
