<section class="section-intro">
    <div class="section-intro_logo">
        <img src="images/icons/logo.svg" alt="">
    </div>
    <div class="section-intro_mail">
        isabell.murphy@gmail.com
    </div>
    <div class="section-intro_tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#users" aria-controls="home" role="tab" data-toggle="tab"><i class="icon icon-user"></i> All users <span>978</span></a></li>
            <li role="presentation"><a href="#paws" aria-controls="home" role="tab" data-toggle="tab"><i class="icon icon-paws"></i> Paws <span>324</span></a></li>
            <li role="presentation"><a href="#pals" aria-controls="home" role="tab" data-toggle="tab"><i class="icon icon-pals"></i> Pals <span>654</span></a></li>
            <li role="presentation"><a href="#reviews" aria-controls="home" role="tab" data-toggle="tab"><i class="icon icon-reviews"></i> Reviews <span>14 987</span></a></li>
            <li><a href="logout.html"><i class="icon icon-logout"></i> Logout</a></li>
        </ul>
    </div>
</section>